
#image{
    height: 20vh;
    float: left;
    padding-inline-end: 2vh;    /* this adds space between the image and the text */
}

.header{
    vertical-align: top;
    display: inline-block;
    padding-inline-end: 15%;
}

#text{
    white-space: normal;
    margin: 0;
}
.replybox{
    height: 20vh;
    border-style: double;
    margin-right: 5vh;
    white-space: nowrap;
    cursor: pointer;
    width: 100%;
}
#replies {
    border: 1px solid black;
    margin-top: 50px;
    width: 100%;
}