
#image{
    height: 20vh;
    float: left;
    padding-inline-end: 2vh;    /* this adds space between the image and the text */
}

/* .header{
    vertical-align: top;
    display: inline-block;
    padding-inline-end: 15%;
} */

#info {
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
    padding-bottom: 10px;
    padding-right: 5vh;
    
}

#text{
    white-space: normal;
    margin: 0;
}
.replybox{
    min-height: 20vh;
    border-style: double;
    margin-right: 5vh;
    white-space: nowrap;
    cursor: pointer;
    width: 100%;
}
#replies {
    border: 1px solid black;
    margin-top: 50px;
    width: 100%;
}