<style>
    .replybox{
        height: 20vh;
        border-style: double;
        margin-right: 5vh;
        white-space: nowrap;
        cursor: pointer;
        /* vertical-align:top; */
    }
    #image{
        height: 20vh;
        float: left;
        padding-inline-end: 2vh;    /* this adds space between the image and the text */
    }
    .header{
        vertical-align: top;
        display: inline-block;
        padding-inline-end: 15%;
    }
    #text{
        white-space: normal;
        margin: 0;
    }
</style>

<div id="replies">
    <div class="replybox" *ngFor="let reply of this.postservice.activereplies" (click) = "loadReply(reply)">
        <img id="image" src={{reply.image}}>    
        <h3 class="header">{{reply.username}}</h3>
        <p class="header">{{reply.timestamp}}</p>
        <p class="header">#{{reply.p_id}}</p>
        <p id="text">{{reply.text}}</p>
    </div>
</div>