.replybox {
    height: 20vh;
    border-style: double;
    margin-right: 5vh;
    white-space: nowrap;
    cursor: pointer;
    width: calc(99%);
}

#imagearea {
    width: 20%;
    height: 100%;
    float: left;
    padding: 0;
    margin: 0;
    margin-right: 2%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(243, 217, 162);
    border-style: groove;
    border-width: 0 3px 0 0;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

#info {
    width: 78%;
    height: 5%;
}

#user {
    color: blue;
    font-weight: bold;
}

#timestamp {
}

#number {
    color: rgb(0, 0, 177);
    font-weight: bold;
}

span {
    margin-right: 5px;
}

/* .header{
    vertical-align: top;
    display: inline-block;
    padding-inline-end: 15%;
} */


#text{
    width: 78%;
    height: 95%;
    white-space: normal;
    overflow-wrap: break-word;
    margin: 0;
    padding-top: 8px
}

.replybox{
    min-height: 100px;
    border-style: double;
    margin-right: 5vh;
    white-space: nowrap;
    cursor: pointer;
    width: 100%;
}
#replies {
    border: 1px solid black;
    margin-top: 50px;
    width: 100%;
}
