<div id="register" style="border: 2px solid blue;">
    <div  style="padding-bottom: 30px; padding-left: 10px;">
    <h4>Registration Page</h4>
    <p *ngIf="badPass" style="color: red;">Passwords do not match, please try again.</p>
    <p *ngIf="duplicateUser" style="color: red;">Registration failed. The username may already be taken.</p>
    <table>
        <tr>
            <td class="label">Username:</td>
        
            <td id="username"><input type="text" [(ngModel)]="username" placeholder="username"/></td>
        </tr>

        <tr>
            <td class="label">Password:</td>
        
            <td id="password1"><input type="password" [(ngModel)]="password1" placeholder="Password"/></td>
        </tr>

        <tr>
            <td class="label">Confirm password:</td>
        
            <td id="password2"><input type="password" [(ngModel)]="password2" placeholder="Password"/></td>
        </tr>

    </table>
    <button (click)="registerNewUser()">Register</button>
    </div>
</div>
