#login-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid black;
    align-content: center;
}

#login {
    border: 4px solid red;
    background-color: rosybrown;
    width: 40%;
    position: relative;
}

tr {
    border: 3px solid black;
}

th {
    background-color: lightblue;
}

#username {
    width: 90%;
}

#new-line {
    flex-basis: 100%;
    height: 0;
}

.input {
    display: flex;
    flex-wrap: wrap;
}

#loginButton {
    display: flex;
    flex-wrap: wrap;

}
