    <table id="login">
        <tr>
            <th>Username:</th>
       
            <td class="input"><input type="text" [(ngModel)]="username"/></td>

            <td><button id="closelogin">×</button></td>
        </tr>

        <tr>
            <th>Password:</th>
        
            <td class="input"><input type="password" [(ngModel)]="password"/></td>
        </tr>
        <tr>

            <td>
                <button id="loginButton" (click) = "login()" >Login</button>
            </td>
            <td>
                <span id="response-text">{{responseText}}</span><br>
            </td>
        </tr>
       
    </table>
    <br>
  
    
