<div style="border: 1px solid blue; height : 300px; width : 200px">
<h3 style="text-align: center">Please Login Below:</h3>
<div style="margin: 30% 0 0 8%">
<span style="font-weight: bold">Username</span> : <input type="text" [(ngModel)]="username" placeholder="Enter username">
<span style="font-weight: bold">Password</span>  : <input type="password" [(ngModel)]="password" placeholder="Enter password">
</div>
<button style="margin : 30%" (click) = "userLogin()"><span style="font-weight: bold">Login</span></button>

</div>