<div id="post">
        <p class="hidden">{{this.postservice.activepost.timestamp}}</p>
        <p class="hidden">{{this.postservice.activepost.p_id}}</p>
        <p class="hidden">{{this.postservice.activepost.username}}</p>
    <p class="line" id="timestamp">{{this.postservice.activepost.timestamp}}</p>
    <p>#{{this.postservice.activepost.p_id}}</p>
    <h3 class="line">{{this.postservice.activepost.username}}</h3>
    <img src={{this.postservice.activepost.image}} style="width: 95%;">
    <p>{{this.postservice.activepost.text}}</p>
</div>
