#post {
    text-align: center;
    height: 100%;
    max-width: 100%;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* moderator 'delete' buttons */
.image-container {
    margin: auto;
}
  /* Style the button and place it on top-left */
  .image-container .delete-btn {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-0%, -0%);
    -ms-transform: translate(-0%, -0%);
    background-color: red;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .image-container .delete-btn:hover {
    background-color: darkred;
  }

/* end moderator 'delete' buttons */




p {
    padding: 0;
    margin: 0;
}

#divline {
    width: 100%;
    height: 3px;
}

#info {
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
    padding-bottom: 10px;
    
}

span {
    margin-right: 3px;
}

#user {
    font-weight: bold;
    color: blue;
}

#postimg {
    max-width: 75vw;
    max-height: 75vh;
}

#number {
    font-weight: bold;
    color: rgb(0, 0, 177);
}

#text {
    text-align: left;
    padding: 2%;
    overflow-wrap: break-word;
}