<div id="post">
    <!-- <p>{{this.threadservice.threadnum}}</p>
    <p class="line" id="timestamp">{{this.threadservice.threads[this.threadservice.threadnum].timestamp}}</p>
    <p>#{{this.threadservice.threads[this.threadservice.threadnum].id}}</p>
    <h3 class="line">{{this.threadservice.posts[this.threadservice.threadnum].username}}</h3>
    <img src={{this.threadservice.threads[this.threadservice.threadnum].imageuri}} style="width: 95%;">
    <p>{{this.threadservice.threads[this.threadservice.threadnum].text}}</p> -->

    <p class="line" id="timestamp">{{this.threadservice.post.timestamp}}</p>
    <p>#{{this.threadservice.id}}</p>
    <h3 class="line">{{this.threadservice.post.username}}</h3>
    <img src={{this.threadservice.post.image}} style="width: 95%;">
    <p>{{this.threadservice.post.text}}</p>
</div>
