#post{
    border-style: double;
}
.line{
    display: inline;
}
#timestamp{
    float: right;
    margin-right: 5vh;
}

.replybox{
    height: 20vh;
    border-style: double;
    margin-right: 5vh;
    white-space: nowrap;
    /* vertical-align:top; */
}