#button {
    height: 15%;
    min-height: 50px;
    width: auto;
    max-height: 120px; 
    margin-right: 3px;
    position: relative;
    top: 40%;
    cursor: pointer;
}

#view {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box {
    height: 100%;
}

#leftbox {
    max-width: 40vw;
    overflow: hidden;
}

#divider {
    width:1vw;
}
        

#rightbox {
    overflow-y: auto;  /*show the scrollbar in the right box*/
    overflow-x: hidden;
    background-color: rgb(252, 241, 178);
    border-left-style: inset;
    width: 50vw;
}
        