#button {
    height: 15%;
    min-height: 50px;
    width: auto;
    max-height: 120px; 
    margin-right: 3px;
    position: relative;
    top: 40%;
    cursor: pointer;

}

#view {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box {
    height: 100%;
}

#leftbox {
    max-width: 40vw;
    overflow: hidden; /*hide the scrollbar in the left box*/
}

#divider {
    width:1vw;
}
        

#rightbox {
    overflow-y: auto;  /*show the scrollbar in the right box*/
    overflow-x: hidden;
    width: 50vw;
    
    border-left: 1px solid black;
    padding-left: 5vh;
}
        