<style>
        .wrap{display:flex;}
        .box{
            height: 90vh;
        }
        #leftbox {
            width: 45vw;
            overflow:hidden; /*hide the scrollbar in the left box*/
            
        }
        
        #rightbox {
            width: 55vw;
            overflow-y:scroll;  /*show the scrollbar in the right box*/
            overflow-x: hidden;
        }
        
        </style>
        <div>
            <h1>Welcome to Pharoah4!</h1>
            <div class="wrap">
                <div class="box" id="leftbox">
                    <app-post></app-post>
                </div>
                <div class="box" id="rightbox">
                    <app-replies></app-replies>
                </div>
            </div>
        </div>
        
        