
<div *ngIf="!loggedin" >
    <button id="login-btn" class="btn" (click) = "showLogin()">Login</button><br><br>
    <a href="register">
    <button id="reg-btn" class="btn">Register</button>
    </a>
</div>
<button *ngIf="loggedin" id="logout-btn" class="btn" (click) = "this.userService.logout()">Logout</button><br><br>
<a href="userlist">
    <button *ngIf="admin" id="userlist-btn" class="btn">User Permissions</button><br>
</a>
<p id="response-text">{{responseText}}</p><br>

<div id="threads">
    <div id="buttons-container">
        
        <app-login *ngIf="loginclicked && !loggedin"></app-login>
        
        <span><button id="new-thread" class="btn" (click) = "openThreadForm()">Create new thread</button></span>
    </div>
    
    <app-make-thread *ngIf="threadformon"></app-make-thread>
    <br>
    <span id="instance" *ngFor='let th of this.activeheaders'>
        <div class="image-container">
            <a href="thread/{{th.t_id}}/{{th.p_id}}">
            <img src={{th.image}}><br>
            {{charLimit(th.text)}}
            </a>
            <button *ngIf="moderator" class="delete-btn" id="{{ 'delete-' + th.p_id }}" (click) = "deleteThread(th)">×</button>
        </div>
    </span>
</div>