<div id="new-thread-area">
    <table id="new-thread">
        <tr>
            <th>Name:</th>
        
            <td id="username"><input type="text" readonly value={{placeholderName}}/></td>
        </tr>
        <!-- <tr>
            <th>Subject:</th>
            <td id="subject"><input type="text" [(ngModel)] = "title"/></td>
        </tr> -->
        <tr>
            <th>Comment:</th>
            <td id="post"><textarea id="postText" maxlength="500" [(ngModel)] = "postText" (focus) = "changeText(true)" (blur) = "changeText(false)">Say something...</textarea></td>
            <!-- <td id="post"><textarea id="postText" (focus) = "changeDefaultInput(postText)">Say something...</textarea></td> -->
        </tr>
        <tr>
            <th>Image URL:</th>
            <td id="image-url"><input type="file" [(ngModel)] = "picture" (change)="onSelected($event)"/></td>
        </tr>
       
    </table>



    <div>
        <!-- <a href="{{imageUrl}}"></a> -->
        <img id="postImage">
    </div>

    <div id="new-line"></div>
    <button id="completeThread" (click) = "createThread()" >Create thread</button>
    <!-- <h2>Enter Thread Information</h2>
    <p>Thread name:<input id="threadName" type="text"/></p>
    <button id="imgupload" (click) = "uploadImage()">Upload image</button>
    <p>Post text:<input id="posttext" type="text" value="What do you want to say..." (click) = "changeDefaultInput()"/></p> -->
</div>