#new-thread-area {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 1%;
    width: 98%;
}

#new-thread {
    border: 4px inset;
    background-color: rosybrown;
    width: 40%;
    margin: auto;
    text-align: left;
}

tr {
    border: 3px solid black;
}

th {
    background-color: lightblue;
}

#username {
    width: 90%;
}

#subject {
    width: 90%;
}

textarea {
    width: 90%;
    height: 90%;
}

#postImage {
    height: 100%;
    max-width: 50%;
    box-shadow: 0px 30px 30px -20px rgba(0,0,0,0.75);
}

#completeThread {
    width: 40%;
    margin: 10px auto;
}
